.calculator {
    background-color:#333034;
    height:300px;
    width:280px;
    border-radius:10px;
    position:relative;
    }
    .calculatorDisplay {
        margin: 10px 10px 0 10px;
        vertical-align: middle;
        position:relative;
        left:12px;
        top:2px;
        height:35px;
        color:black;
        background-color:#bccd95;
        font-size:20px;
        text-align:right;
        }
    td.buttons {
        padding-left: 22px;
        }
    input[type= button] {
        width: 55px;
        height: 38px;
        }