body{
    background-color:#1c1c1b;
    }
.main{
    width:970px; margin:0 auto;
    background-color:#020202;
    border-right: 1px solid #93928e;
    border-left: 1px solid #93928e;
    background-image: url(/test-mvn-app/resources/images/header8.jpg);
    }
    .toolbar{
    }
        .toolbar_buttons{
        list-style:none; background: linear-gradient(to bottom, #ebebec, #babcd1); overflow:hidden;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
            }
            .toolbar_buttons li {
                float:right; padding: 0 20px 1px 0;
            }
                .toolbar_buttons li a {
                    font: 12px "Belwe TL"; color:#070727; text-decoration:none;
                }
                .toolbar_buttons li a:hover{
                    font: 12px "Belwe TL"; color:#070727; text-decoration:underline;
                }

    .header{
        height:250px;
    }
        .logo a{
            font: 48px "Algerian"; color:#eae0b0;
            text-shadow:
                -1px -1px 0 #5c3505,
                1px -1px 0 #5c3505,
                -1px 1px 0 #5c3505,
                1px 1px 0 #5c3505;
            text-decoration:none;
            float:left; margin:70px 0 0 90px;
        }
.content-main{
    background:#babcd1; overflow:hidden;
}
    .menu{
        list-style:none; background: linear-gradient(to bottom, #ebebec, #babcd1); overflow:hidden;
        }
        .menu li {
            float:left; padding: 8px 50px;
        }
            .menu li a {
                font: 18px "Belwe TL"; color:#321a06; text-decoration:none;
            }
            .menu li a:hover{
                font: 18px "Belwe TL"; color:#321a06; text-decoration:underline;
            }
    .content{
        background: linear-gradient(to bottom, #ebebec, #babcd1); overflow:hidden;
        height:500px;
    }
