body{
    list-style:none;
    background-color:#1c1c1b;
    font-family: "Belwe TL";
    }
.main{
    width:1100px; margin:0 auto;
    background:#020202;
    }
    .header{
        background-image: url(/test-mvn-app/resources/images/header.jpg);
        background-repeat: no-repeat;
        height:220px;
    }
        .logo a{
            float:left;
            margin:20px 34px 10px 60px;
        }
    .menu{
        width:1100px; margin:0 auto;
        border-radius:15px 15px 0 0;
        background: linear-gradient(to bottom, #fefefc, #979795);
        overflow:hidden;
    }
        .menu li {
            float:left;
            padding: 8px 40px;
        }
            .menu li a {
                font-size: 16px;
                color:#321a06;
                text-decoration:none;
            }
            .menu li a:hover{
                text-decoration:underline;
            }
    .content{
        width:1100px; margin:0 auto;
        padding-top:10px;
        background: linear-gradient(to bottom, #fefefc, #979795);
        overflow:hidden;
        height:1000px;
        font-size:14px;
    }
        .content li {
            float:left;
        }
        .left-column{
            width:678px;
            float:left;
            margin:10px 0 0 30px;
        }
        .right-column{
            width:330px;
            float:right;
            margin:10px 30px 0 0;
        }