.post-head{
    margin-bottom: 4px;
    border-radius: 5px;
    background: -moz-linear-gradient(top, #99969B 0%, #484455 50%, #333034 51%, #454148 75%, #333034 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99969B), color-stop(50%,#484455), color-stop(51%,#333034), color-stop(75%,#454148), color-stop(100%,#333034)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #99969B 0%,#484455 50%,#333034 51%,#454148 75%,#333034 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #99969B 0%,#484455 50%,#333034 51%,#454148 75%,#333034 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #99969B 0%,#484455 50%,#333034 51%,#454148 75%,#333034 100%); /* IE10+ */
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #888;
}
    .post-head h1{
        font-weight: normal;
        color:#d2d1d7;
        padding: 8px 20px 8px 20px;
    }
    .post-head a{
        text-decoration:none;
    }
    .post-area{
        background: #fcfbfe;
        box-shadow: 0 0 0 1px #ceccd7;
        padding: 6px 10px 8px 6px;
    }
    .post-area:hover{
        background: #E2DFE4;
        }
        .post-content{
        display:inline-block;
        }
            .imgStyle{
            float:left;
            }
            .post-content h1{
                font-weight:bold;
                color:#282729;
                padding: 2px 0 4px 60px;
                text-decoration:underline;
            }
            .post-content p{
                color:#4E4A5B;
                padding-left: 60px;
            }
