.big_background_image {
    width:1100px;
    min-height:530px;
    margin:0 auto;
    padding-top:80px;
    background-image: url(/test-mvn-app/resources/images/big_picture.jpg);
    }

.content_block {
    padding-top:70px;
    padding-left: 120px;
    width:550px;
    min-height:320px;
    border-radius:10px;
    box-shadow: 0 0 0 2px #888 , 0 0 0 3px #fff;
    background: -moz-linear-gradient(top, #fefefc 0%, #C0BEC2 50%, #fefefc 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(top,  #fefefc 0%,#C0BEC2 50%,#fefefc 100%); /* Chrome10+,Safari5.1+ */
        background: -ms-linear-gradient(top,  #fefefc 0%,#C0BEC2 50%,#fefefc 100%); /* IE10+ */
    overflow:hidden;
    }
    .form input {
        height:20px;
        width:200px;
        }
    .content_block_error{
            color:#FF2800;
            }
    .redirect_buttons li {
        padding:20px 30px 0 0;
        font-size:14px;
        float:left;
        }
        .redirect_buttons li a {
            color:#070727;
            text-decoration:none;
            }
        .redirect_buttons li a:hover{
            text-decoration:underline;
            }
