.toolbar{
    width:1100px; margin:0 auto;
    background: linear-gradient(to bottom, #fefefc, #979795);
    height:20px;
    overflow:hidden;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 0 0 15px 15px;
    overflow:hidden;
}
    .toolbar_buttons li {
        list-style:none;
        float:right;
        padding: 2px 30px 1px 0;
    }
        .toolbar_buttons li a {
            font-size: 12px;
            color:#070727;
            text-decoration:none;
        }
            .toolbar_buttons li a:hover{
                text-decoration:underline;
            }